@page "/Calculator"
@inject IHttpService httpservices;


@*<Button Color="Color.Primary" Clicked="@ShowModal">Show Modal</Button>*@
<EditForm Model="@Calc">
<Modal @ref="modalRef">
    <ModalContent Centered>
        <ModalHeader>
            <ModalTitle>Formula Creation</ModalTitle>
            <CloseButton />
        </ModalHeader>
        <ModalBody>
            <Field>
                <FieldLabel>Tag</FieldLabel>
                    <Select TValue="string" @bind-SelectedValue="@Calc.Tag">
                    
                        <SelectItem>--Select--</SelectItem>
                        @if(Tags!=null)
                        {
                             @foreach(TblTagMaster tags in Tags)
                            {

                                <SelectItem Value="@tags.Tag_Name"> <Badge Color="Color.Warning">@tags.Tag_Name</Badge></SelectItem>
                              
                            }
                        }
                    </Select>
               
            </Field>
            <Field>
                <FieldLabel>Operators</FieldLabel>
                <Badge Color="Color.Primary">
                        <Select TValue="string" @bind-SelectedValue="@Calc.Operator">
                            <SelectItem>--Select--</SelectItem>
                            <SelectItem Value="@("+")">+</SelectItem>
                            <SelectItem Value="@("-")">-</SelectItem>
                            <SelectItem Value="@("*")">*</SelectItem>
                            <SelectItem Value="@("/")">/</SelectItem>
                            <SelectItem Value="@("%")">%</SelectItem>
                            <SelectItem Value="@("(")">(</SelectItem>
                            <SelectItem Value="@(")")">)</SelectItem>
                            <SelectItem Value="@(".")">.</SelectItem>
                        </Select>
                </Badge>
            </Field>
            <Field>
                <FieldLabel>Numbers</FieldLabel>
                <Badge Color="Color.Info">
                    <TextEdit TValue="string" @bind-SelectedValue="@Calc.Num"/>
                </Badge>
            </Field>
            <Field>
                    <Button Type="ButtonType.Button" Color="Color.Info" onclick="@HandleAdd">Add</Button>
            </Field>
            <Field>
                <FieldLabel>Formula</FieldLabel>
                <Div>
                    
                </Div>
            </Field>
        </ModalBody>
        <ModalFooter>
            <Button Color="Color.Secondary" Clicked="@HideModal">Close</Button>
            <Button Color="Color.Primary" Clicked="@HideModal">Save Changes</Button>
        </ModalFooter>
    </ModalContent>
</Modal>
</EditForm>
@code {
    [Parameter]
    public Modal modalRef{ get; set; }
    [Parameter]
    public EventCallback<List<string>> mstCalc { get; set; }
    [Parameter]
    public RenderFragment ChildContent { get; set; }
    IEnumerable<TblTagMaster> Tags;
    Calculator Calc = new();
    string formula { get; set; }
    private Task ShowModal()
    {
        return modalRef.Show();
    }

    private Task HideModal()
    {
        return modalRef.Hide();
    }
    protected override async Task OnInitializedAsync()
    {
       
        Tags = await httpservices.Get<List<TblTagMaster>>("TagMasters");

    }
    void HandleAdd(string val)
    {
       

    }
}
