@page "/Department"
@inject IHttpService httpservice
@using System.ComponentModel.DataAnnotations;

<style>
    ::marker {
        content: close-quote;
        unicode-bidi: isolate;
        font-variant-numeric: tabular-nums;
        text-transform: none;
        text-indent: 0px !important;
        text-align: start !important;
        text-align-last: start !important;
    }
</style>

@if (isDialogOpen == true)
{
    @if (selectdept != null)
    {
        @if (selectdept.Id != null)
        {

        }
        <CModal dept="@selectdept" title="Create New Department" mstDatasChanged="@HandleAdddept">
            <ChildContent1>
                <EditForm Model="@Dept" OnValidSubmit="submit"> 
                    <Validations Mode="ValidationMode.Manual" Model="@Dept" @ref="validation">
                        <Validation Validator="ValidationRule.IsNotEmpty">
                       <Field ColumnSize="ColumnSize.Is12.OnDesktop.Is12.OnMobile">
                            <FieldLabel>Department Name</FieldLabel>
                            <TextEdit @bind-Text="@Dept.Dept_Name"></TextEdit>
                             <Feedback>
                                 <ValidationSuccess/>
                                <ValidationError>Enter name</ValidationError>
                            </Feedback>
                        </Field>
                        </Validation>
                    </Validations>
                    <div class="row m-2">
                        <div class="col-md-12 d-flex mb-3 justify-content-center">
                            <Button Type=ButtonType.Submit class="m-2" Color="Color.Primary" Disabled="@(busy)">@(isnew==true?"Submit":"Update")</Button>
                            <Button Type="ButtonType.Reset" class="m-2" Color="Color.Info">Reset</Button>
                            <Button Type="ButtonType.Button" class="m-2" Color="Color.Warning" onclick="@HandleCancel">Cancel</Button>
                        </div>

                    </div>
                </EditForm>
            </ChildContent1>
        </CModal>
    }


}
else
{
    <div class="Container">
        <h4 class="fw-bold" style="color:#243763;">Department List</h4>
     <Fields>
        <Field ColumnSize="ColumnSize.Is4.OnDesktop.Is12.OnMobile">
            <FieldLabel>Company</FieldLabel>
            <Select SelectedValue="plant.Company_Id" SelectedValueChanged="@((string arg)=>{handlePlant(arg);})" SelectedValueExpression="@(()=>plant.Company_Id)">
                <SelectItem>--Select Company--</SelectItem>
                @if (companies != null)
                {
                    @foreach (TblCompanyMaster comp in companies)
                    {
                        <SelectItem Value="@comp.ID">@comp.Company_Name</SelectItem>
                    }
                }
            </Select>

        </Field>
        <Field ColumnSize="ColumnSize.Is4.OnDesktop.Is12.OnMobile">
            <FieldLabel>Plant</FieldLabel>
            <Select SelectedValue="Dept.Plant_Id" SelectedValueChanged="@((string arg)=>{HandlePlantList(arg);})"SelectedValueExpression="@(()=>Dept.Plant_Id)" >
                <SelectItem>--Select Plant--</SelectItem>
                @if(PlantList!=null)
                {
                    @foreach(TblPlantMaster plt in PlantList)
                    {
                        <SelectItem Value="@plt.ID">@plt.Plant_Name</SelectItem>
                    }
                }
            </Select>
        </Field>
        <Field ColumnSize="ColumnSize.Is4.OnDesktop.Is12.OnMobile">
            @ChildContent
            <Button Margin="Margin.Is3" style="margin-top:10px;background:#659abb;color:#000;" @onclick="@AddDept" Disabled=@(plant.Company_Id==null||Dept.Plant_Id==null)>Add</Button>
        </Field>
      </Fields>
        <div class="row">
            <div class="col-md-12">
              
                    @if (DeptList != null)
                    {
                       <Div Display="Display.Block.None.OnDesktop" >
                        @foreach (var item in DeptList.Where(a => (a.Status_F != 1)))
                        {
                        <div id="accordion">
                            <div class="faq-container">
                                <div class="card w-100" style="border-top: 1px solid #FF6E31;">
                                   <details class="d-flex m-2">
                                    <summary style="margin-left:10px;"><i class="fa fa-city p-2" style="color:#243763;"></i>@item.Dept_Name</summary>
                                        <p style="margin-left:15px;">
                                                <Field>
                                                    <Dropdown>
                                                        <Button Color="Color.Primary">Action</Button>
                                                        <DropdownToggle Color="Color.Primary" Split />
                                                        <DropdownMenu>
                                                            <DropdownItem Clicked="@(()=>handleEditDept(item))">Edit</DropdownItem>
                                                            <DropdownDivider />
                                                            <DropdownItem Clicked="@(()=>handleDelDept(item))">Delete</DropdownItem>

                                                        </DropdownMenu>
                                                    </Dropdown>

                                                </Field>
                                            </p>
                                        </details>
                                    </div>
                                </div>
                            </div>
                           
                        }
                      </Div>
                    }
                     <Div Display="Display.None.Block.OnDesktop">
                    @if (DeptList != null)
                    {
                        <Table>
                            <TableHeader>

                                <TableRow>

                                    <TableHeaderCell>Department Name</TableHeaderCell>

                                </TableRow>
                            </TableHeader>
                            <TableBody>
                                @foreach (var item in DeptList.Where(a=>(a.Status_F==0)))
                                {
                                    <TableRowGroup Title="@item.Dept_Name">
                                        <TableRow>
                                            <TableRowCell>@item.Dept_Name</TableRowCell>
                                            <TableRowCell>
                                                <Dropdown>
                                                    <Button Color="Color.Primary">Action</Button>
                                                    <DropdownToggle Color="Color.Primary" Split />
                                                    <DropdownMenu>
                                                        <DropdownItem Clicked="@(()=>handleEditDept(item))">Edit</DropdownItem>
                                                        <DropdownDivider />
                                                        <DropdownItem Clicked="@(()=>handleDelDept(item))">Delete</DropdownItem>
                                                    </DropdownMenu>
                                                </Dropdown>
                                            </TableRowCell>

                                        </TableRow>

                                    </TableRowGroup>
                                }
                            </TableBody>
                        </Table>
                    }

                </Div>
                </div>
                 </div>
            </div>
      
}

 

@code {
    TblDeptMaster Dept = new();
    bool? isnew = true;
    [Parameter]
    public RenderFragment ChildContent { get; set; }
    [Parameter]
    public EventCallback<bool> mstplantchanged{get; set;}
    IEnumerable<TblDeptMaster> DeptList;
    bool DispsData;
    bool? isDialogOpen;
    bool busy = false;
    public string plantId;
    TblDeptMaster? selectdept;
    IEnumerable<TblCompanyMaster> companies;
    IEnumerable<TblPlantMaster> PlantList;
    TblPlantMaster plant = new();
    Validations validation;


    async void submit()
    {
        if(isnew == true)
        {
            if (await validation.ValidateAll())
            {
                try
                {
                    busy = true;
                    Dept.Company_Id = PlantList.First(a => (a.ID.ToString() == plantId)).Company_Id;
                    Dept.Created_By = "Admin";
                    var data = await httpservice.Post<string>("DeptMasters", Dept);
                    if (data != null)
                    {
                        await App.Current.MainPage.DisplayAlert("Message", "Data Successfully Inserted", "ok");
                        Dept.Dept_Name = string.Empty;
                        busy = false;
                    }
                    else
                    {
                        await App.Current.MainPage.DisplayAlert("Message", "Error", "ok");
                    }
                }
                catch (Exception ex)
                {

                }
                HandleCancel();
                StateHasChanged();
                DeptList = (await httpservice.Get<List<TblDeptMaster>>("DeptMasters/ACT")).Where(a => (a.Plant_Id == Dept.Plant_Id));
                await OnInitializedAsync();


            }

        }
        else
        {
            try
            {
                busy = true;
                Dept.Company_Id = PlantList.First(a => (a.ID.ToString() == plantId)).Company_Id;
                Dept.Modified_By = Dept.Created_By;
                var editdata = await httpservice.Post<string>("DeptMasters/UPD", Dept);
                if (editdata != null)
                {
                    await App.Current.MainPage.DisplayAlert("Message", "Data Successfully Updated", "ok");
                    Dept = new();
                    busy = false;
                }
                else
                {
                    await App.Current.MainPage.DisplayAlert("Message", "Error", "ok");
                }
            }
            catch (Exception ex)
            {

            }
            HandleCancel();
            StateHasChanged();
            await OnInitializedAsync();
            DeptList = (await httpservice.Get<List<TblDeptMaster>>("DeptMasters/ACT")).Where(a => (a.Plant_Id == Dept.Plant_Id));
            isnew = true;
        }


    }
    async void handleDelDept(TblDeptMaster item)
    {
        item.Status_F = 1;
        var result = await httpservice.Post<string>("DeptMasters/UPD", item);

        if (result != null)
        {
            await App.Current.MainPage.DisplayAlert("Message", "Department Successfully Deleted ", "Ok");
        }
        else
        {

            await App.Current.MainPage.DisplayAlert("Message", "Error", "Ok");

        }
        isnew = true;
        StateHasChanged();
    }
    protected override async Task OnInitializedAsync()
    {
        companies = await httpservice.Get<List<TblCompanyMaster>>("CompanyMasters");
        Dept.Plant_Id = plantId;
        //  DeptList = (await httpservice.Get<List<TblDeptMaster>>("DeptMasters/ACT")).Where(a => (a.Plant_Id ==Dept.Plant_Id)); 
        StateHasChanged();

    }
    void handleDataSaved()
    {

    }
    void HandleCancel()
    {
        selectdept = null;
        DispsData = false;
        isDialogOpen = false;
        isnew= true;
    }
    void HandleAdddept()
    {
        selectdept = null;
        isDialogOpen = null;
    }
    void AddDept()
    {
        selectdept = new TblDeptMaster();
        isDialogOpen = true;
        selectdept.Plant_Id = plantId;
    }
    void back(){
        selectdept=null;
        DispsData = false;
    }
    void handleEditDept(TblDeptMaster item)
    {
        selectdept = item;
        Dept = selectdept;
        isDialogOpen = true;
        isnew = false;
    }
    async void handlePlant(string val)
    {
        plant.Company_Id = val;
        PlantList = (await httpservice.Get<List<TblPlantMaster>>("PlantMasters/ACT")).Where(a => (a.Company_Id == plant.Company_Id));
        StateHasChanged();
    }
    async void HandlePlantList(string val)
    {
        
            Dept.Plant_Id = val;
            DeptList = (await httpservice.Get<List<TblDeptMaster>>("DeptMasters/ACT")).Where(a => (a.Plant_Id == Dept.Plant_Id));
            plantId = Dept.Plant_Id;
            StateHasChanged();
            
        
    }
}
