@page "/Lookup"
@using AONLOGBOOK.SHARED.CModels;
@inject IHttpService httpservice;

<Div class="container">
    <Field ColumnSize="ColumnSize.Is12.OnDesktop.Is12.OnMobile">
        <Heading Size="HeadingSize.Is4" TextAlignment="TextAlignment.Center">Lookup(s)</Heading>
        <Divider DividerType="DividerType.Dotted" />
    </Field>
    <Fields>
        <Field ColumnSize="ColumnSize.Is6.OnDesktop.Is12.OnMobile">
            <FieldLabel>Lookup</FieldLabel>
            <Select SelectedValue="@tblLookupValue.LookupId" SelectedValueChanged="@((string arg)=>{handlelookup(arg);})" SelectedValueExpression="@(()=>tblLookupValue.LookupId)">
                <SelectItem>--Select--</SelectItem>
                @if (lookuplist != null)
                {
                    @foreach (TblLookup lookup in lookuplist.Where(a => (a.DelFlag != 1)))
                    {
                        <SelectItem Value="@lookup.Id">@lookup.Name</SelectItem>
                    }
                }
            </Select>
        </Field>
    </Fields>
    <Field ColumnSize="ColumnSize.Is6.OnDesktop.Is12.OnMobile">
        <Button Background="Background.Info" TextColor="TextColor.Light" @onclick="@Add" Margin="Margin.Is4" Disabled=@(tblLookupValue.LookupId==null||string.IsNullOrEmpty(tblLookupValue.LookupId))>Add</Button>
    </Field>
     @if (dynamicform.Count() > 0)
    {
       
    <Card>
     <CardBody>
                    <CardText>
                        <Field>
                            @foreach (Lookuplist le in dynamicform)
                            {
                               
                                    <FieldLabel>@le.label</FieldLabel>
                                     <TextEdit @bind-Text="@le.Value" Style="margin:auto;" InputMode="TextInputMode.Text"></TextEdit>    
                             }
                       
                            <Field Flex="Flex.JustifyContent.End.OnDesktop.JustifyContent.Center.OnMobile">
                                <Button Clicked="@submit" Style="justify-content:center; margin:15px;background:#659abb;color:#000;">Save</Button>
                            </Field>

                        </Field>

                    </CardText>

                </CardBody>
            </Card>
            }
</Div>



@code {

    IEnumerable<TblLookup> lookuplist;
    IEnumerable<TblLookupParam> paramlist;
    IEnumerable<TblDeptMaster> Deptlist;
    IEnumerable<TblLookupValue> tblLookupValues;
    TblLookupValue tblLookupValue = new();
    List<Lookuplist> dynamicform = new();
    lookupEleList lookupEle = new();
   
    protected override async Task OnInitializedAsync()
    {
        lookuplist = await httpservice.Get<List<TblLookup>>("Lookups");

    }

    async void Add()
    {
        try
        {
            dynamicform = new List<Lookuplist>();
            paramlist = (await httpservice.Get<List<TblLookupParam>>("LookupParams")).Where(a => (a.LookupId == tblLookupValue.LookupId));

            if (paramlist.Count() == 0)
            {
                await App.Current.MainPage.DisplayAlert("Dynamic Form", "Sorry there is no elements in the form", "OK");
            }
            else
            {
                paramlist.ToList().ForEach(a =>
             {
                 dynamicform.Add(new Lookuplist { label = a.Param });
             });
            }
        }
        catch (Exception ex)
        {

        }
        StateHasChanged();

    }
    async void submit()
    {
        try
        {

            var a = dynamicform;
            a.ForEach(a =>
            {
                lookupElement lookupElement = new();
                lookupElement.paramName = a.label;
                lookupElement.paramValue = a.Value;
                lookupEle.Tbllookup.Add(lookupElement);
                });
               
                lookupEle.CreatedBy = "Admin";
                lookupEle.CompanyId = paramlist.First(a => (a.LookupId == tblLookupValue.LookupId)).CompanyId;
                lookupEle.PlantId = paramlist.First(a => (a.LookupId == tblLookupValue.LookupId)).PlantId;
                lookupEle.LookupId = tblLookupValue.LookupId;
                lookupEle.NameValue = lookuplist.First(a => (a.Id.ToString() == tblLookupValue.LookupId)).Name;

                var result = await httpservice.Post<string>("LookupValues", lookupEle);
                if (result != null)
                {
                    await App.Current.MainPage.DisplayAlert("Message", "Success", "ok");

                }
                else
                {
                    await App.Current.MainPage.DisplayAlert("Error", "Error", "ok");
                }
                lookupEle = new();
                dynamicform = new();
                StateHasChanged();
          
        }
        catch (Exception ex)
        {

        }
    }
    async void handlelookup(string value)
    {
        tblLookupValue.LookupId = value;
        paramlist = (await httpservice.Get<List<TblLookupParam>>("LookupParams")).Where(a=>(a.LookupId == tblLookupValue.LookupId));
        StateHasChanged();
    }
    void handleparam(string value)
    {
        
    }
}
