@page "/TagMaster"
@inject IHttpService httpservices

<style>
    
</style>

<Div class="container" Padding="Padding.Is3">
    
   <Fields>
       <Field ColumnSize="ColumnSize.Is3.OnDesktop.Is12.OnMobile">
            <Badge Color="Color.Info"><BarIcon IconName="IconName.Tag"></BarIcon></Badge><h4 class="mb-4">Tag Master</h4>
        </Field>
        
   </Fields>
    <Card Padding="Padding.Is2" Class="mb-2">
        <EditForm Model="@tagdata" OnValidSubmit="submit">
            <DataAnnotationsValidator></DataAnnotationsValidator>
                <Fields>
                    <Field ColumnSize="ColumnSize.Is4.OnDesktop.Is12.OnMobile">
                        <FieldLabel>Tag name</FieldLabel>
                        <TextEdit @bind-Text="tagdata.Tag_Name"></TextEdit>
                    </Field>
                     <Field ColumnSize="ColumnSize.Is4.OnDesktop.Is12.OnMobile">
                        <FieldLabel>Display name</FieldLabel>
                        <TextEdit @bind-Text="tagdata.Display_Name"></TextEdit>
                    </Field>
                     <Field ColumnSize="ColumnSize.Is4.OnDesktop.Is12.OnMobile">
                        <FieldLabel>Description</FieldLabel>
                        <TextEdit @bind-Text="tagdata.Description"></TextEdit>
                    </Field>
                </Fields>
       
           @* <div class="col-md-3">
                <label>UOM</label>
                <InputSelect class="form-control" style="font-size:12px;" @bind-Value="tagdata.Uom">
                    <option>--Select--</option>
                    @if(uommst!=null)
                    {
                        @foreach(TblUommaster uom in uommst)
                        {
                             <option value="@uom.Id">@uom.Unit</option>   
                        }
                    }
                </InputSelect>
            </div>*@
           <Fields>
               <Field ColumnSize="ColumnSize.Is12.OnDesktop.Is12.OnMobile">
                    <Button Type="ButtonType.Submit" Color="Color.Info">Submit</Button>
               </Field>
           </Fields>
      
        </EditForm>
    </Card>


<Table Hoverable Bordered>
        <TableHeader ThemeContrast="ThemeContrast.None" Background="Background.Secondary" TextColor="TextColor.White">
        <TableRow>
           
            <TableHeaderCell>Tagname</TableHeaderCell>
            <TableHeaderCell>Display Name</TableHeaderCell>
            <TableHeaderCell>Description</TableHeaderCell>
            <TableHeaderCell>Action</TableHeaderCell>
        </TableRow>
    </TableHeader>
    <TableBody>
        
             @if (tagmst != null)
                {
                     
                    @foreach (TblTagMaster item in tagmst)
                    {
                    <TableRow>
                        <TableRowCell><Badge Background="Background.Info" Padding="Padding.Is2">@item.Tag_Name</Badge></TableRowCell>
                        <TableRowCell>@item.Display_Name</TableRowCell>
                         <TableRowCell>@item.Description</TableRowCell>
                         <TableRowCell>
                            <Dropdown>
                                <Button Color="Color.Info">Action</Button>
                                <DropdownToggle Color="Color.Primary" Split />
                                <DropdownMenu>
                                    <DropdownItem Clicked="@(()=>HandleEdittag(item))">Edit</DropdownItem>
                                    <DropdownDivider />
                                    <DropdownItem Clicked="@(()=>handalDeltag(item))">Delete</DropdownItem>
                                </DropdownMenu>
                            </Dropdown>
                         </TableRowCell>
                    </TableRow>
                   
                    }
                   
                }
       
        
    </TableBody>
</Table>
</Div>
@code 
{
    IEnumerable<TblUommaster>uommst;
    IEnumerable<TblTagMaster> tagmst;
    TblTagMaster tagdata = new();
    TblTagMaster? selectTag;
    bool? isedit = true;
    protected override async Task  OnInitializedAsync()
    {
        uommst = await httpservices.Get<List<TblUommaster>>("UOMMasters/ACT");
        tagmst = await httpservices.Get<List<TblTagMaster>>("TagMasters/ACT");
        StateHasChanged();
    }

    async void submit()
    {
        if (isedit == true)
        {
            tagdata.Created_By = "Admin";
            var savedata = await httpservices.Post<string>("TagMasters", tagdata);
            if (savedata != null)
            {
                await App.Current.MainPage.DisplayAlert("Message", savedata, "ok");

            }
            else
            {
                await App.Current.MainPage.DisplayAlert("Message", "Error", "ok");
            }
            tagdata = new();
            await OnInitializedAsync();
            StateHasChanged();
        }
        else
        {

            tagdata.Created_By = "Admin";
            var editdata = await httpservices.Post<string>("TagMasters/UPD", tagdata);
            if (editdata != null)
            {
                await App.Current.MainPage.DisplayAlert("Message", editdata, "ok");

            }
            else
            {
                await App.Current.MainPage.DisplayAlert("Message", "Error", "ok");
            }
            tagdata = new();
            await OnInitializedAsync();
            StateHasChanged();

        }

    }
    async void HandleEdittag(TblTagMaster item)
    {
        selectTag =item;
        tagdata = selectTag;
        isedit = false;
    }

    async void handalDeltag(TblTagMaster item)
    {
        item.Is_Deleted=1;
        var deldata = await httpservices.Post<string>("TagMasters/UPD", item);
        if (deldata != null)
        {
            await App.Current.MainPage.DisplayAlert("Message", "Tag Deleted", "ok");

        }
        else
        {
            await App.Current.MainPage.DisplayAlert("Message", "Error", "ok");
        }
        tagdata = new();
        await OnInitializedAsync();
        StateHasChanged();
    }
}
